---
layout: default
---

{% include header.html %}

<div class="portfolio">
    <h3>Projects:</h3>
    <ul>
        {% for websites in site.data.websites %}
        <li>
           {{ websites.name }} - <a href="{{ websites.url }}">{{ websites.url }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="blog">
    <h3>Blog Posts:</h3>
    <ul>
        {% for post in site.posts %}
					{% if post.layout == 'post' %}
          <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
					{% endif %}
        {% endfor %}
    </ul>
</div>

<div class="note">
    <h3>Notes:</h3>
    <ul>
        {% for post in site.posts %}
					{% if post.layout == 'note' %}
          <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ note.url }}">{{ note.title }}</a>
          </li>
					{% endif %}
        {% endfor %}
    </ul

<div class="lines">
	<h3>Lines Committed:</h3>
	<ul>
	    {% for lines in site.data.lines %}
			<li>
			    {{ lines.name }}
			</li>
			{% endfor %}
	</ul>
</div>


