---
layout: default
---

{% include header.html %}

<div class="projects"</h1>
    <h1>Projects:</h1>
    <ul>
        {% for website in site.data.websites %}
        <li>
           <a href="{{ projects.url }}">{{ websites.url }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="blog">
    <h1>Blog Posts:</h1>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
